### Importando a Base de Dados

In [ ]:
import pandas as pd

dados = pd.read_csv('data/aluguel.csv', sep=';')
dados.head(10)

### Análise Exploratória dos Dados

In [ ]:
# Explorando o Tipo de Dado do Modelo
type(dados)

In [ ]:
# Conhecendo os Campos
dados.info()

In [ ]:
# Verificando o Número de Linhas e Colunas
dados.shape

In [ ]:
# Explorando o Tipo de Dado de Cada Campo
dados.dtypes

In [ ]:
# Explorando o Modelo como DataFrame
tipos_de_dados = pd.DataFrame(dados.dtypes, columns = ['Tipos de Dados'])
tipos_de_dados.columns.name = 'Variáveis'
tipos_de_dados

In [ ]:
print(f'A Base de Dados apresenta {dados.shape[0]} linhas e {dados.shape[1]} variáveis.')

### Tipos de Imóveis

In [ ]:
tipo_de_imovel = dados['Tipo']
tipo_de_imovel.drop_duplicates(inplace = True)
tipo_de_imovel = pd.DataFrame(tipo_de_imovel)
tipo_de_imovel.index
tipo_de_imovel.shape[0]
tipo_de_imovel.index = range(tipo_de_imovel.shape[0])
tipo_de_imovel.columns.name = 'ID'
tipo_de_imovel

### Séries

In [ ]:
data = [1, 2, 3, 4, 5]
series = pd.Series(data)
series

In [ ]:
index = ['Linha ' + str(i+1) for i in range(len(data))]
index

In [ ]:
series = pd.Series(data = data, index = index)
series

In [ ]:
data = {'Linha ' + str(i+1): i + 1 for i in range(len(data))}
data

In [ ]:
series = pd.Series(data)
series

In [ ]:
series1 = series + 2
series1

In [ ]:
series2 = series + series1
series2

### DataFrame

In [ ]:
data = [[1, 2, 3], 
        [4, 5, 6], 
        [7, 8, 9]]
data

In [ ]:
df1 = pd.DataFrame(data)
df1

In [ ]:
index = ['Linha ' + str(i+1) for i in range(len(data))]
index

In [ ]:
df1 = pd.DataFrame(data, index = index)
df1

In [ ]:
columns = ['Coluna ' + str(i+1) for i in range(len(data[0]))]
columns

In [ ]:
df1 = pd.DataFrame(data, index = index, columns = columns)
df1

In [ ]:
data = {'Coluna 1': {'Linha 1': 1, 'Linha 2': 4, 'Linha 3': 7},
        'Coluna 2': {'Linha 1': 2, 'Linha 2': 5, 'Linha 3': 8},
        'Coluna 3': {'Linha 1': 3, 'Linha 2': 6, 'Linha 3': 9}}
data

In [ ]:
df2 = pd.DataFrame(data)
df2

In [ ]:
data = [(1, 2, 3), 
        (4, 5, 6), 
        (7, 8, 9)]
data

In [ ]:
df3 = pd.DataFrame(data, index = index, columns = columns)
df3

In [ ]:
df1[df1 > 0] = 'A'
df1

In [ ]:
df2[df2 > 0] = 'B'
df2

In [ ]:
df3[df3 > 0 ] = 'C'
df3

In [ ]:
df4 = pd.concat([df1, df2, df3])
df4

### Imóveis Residenciais

In [ ]:
dados = pd.read_csv('data/aluguel.csv', sep=';')
dados.head(10)

In [ ]:
list(dados['Tipo'].drop_duplicates())

In [ ]:
residencial = ['Quitinete',
 'Casa',
 'Apartamento',
 'Casa de Condomínio',
 'Casa Comercial',
 'Casa de Vila']

In [ ]:
selection = dados['Tipo'].isin(residencial)
selection

In [ ]:
dados_residencial = dados[selection]
dados_residencial

In [ ]:
list(dados_residencial['Tipo'].drop_duplicates())

In [ ]:
dados_residencial.index = range(dados_residencial.shape[0])
dados_residencial

### Exportando a Base de Dados

In [ ]:
dados_residencial.to_csv('data/aluguel_residencial.csv', sep=';', index=False)

In [ ]:
dados_residencial_2 = pd.read_csv('data/aluguel_residencial.csv', sep=';')
dados_residencial_2

### Organizando DataFrames

In [ ]:
data = [[1,2,3], [4,5,6], [7,8,9]]
data

In [ ]:
list('321')

In [ ]:
df = pd.DataFrame(data, list('321'), list('ZYX'))
df

In [ ]:
df.sort_index(inplace = True)
df

In [ ]:
df.sort_index(inplace = True, axis = 1)
df

In [ ]:
df.sort_values(by = 'X', inplace = True)
df

In [ ]:
df.sort_values(by = '3', axis = 1, inplace = True)
df

In [ ]:
df.sort_values(by = ['X', 'Y'], inplace = True)
df

### Seleção e Frequência

In [ ]:
# Selecione somente os imóveis classificados com tipo 'Apartamento'
selection = dados['Tipo'] == 'Apartamento'
n1 = dados[selection].shape[0]
n1

In [ ]:
# Selecione somente os imóveis classificados com tipo 'Casa', 'Casa de Condomínio' ou 'Casa de Vila'
selection = (dados['Tipo'] == 'Casa') | (dados['Tipo'] == 'Casa de Condomínio') | (dados['Tipo'] == 'Casa de Vila')
n2 = dados[selection].shape[0]
n2

In [ ]:
# Selecione os imóveis com área entre 60 e 100 metros quadrados, incluindo os limites
# 60  <= Area <= 100
selection = (dados['Area'] >= 60) & (dados['Area'] <= 100)
n3 = dados[selection].shape[0]
n3

In [ ]:
# Selecione os imóveis que tenham pelo ou menos 4 quartos e aluguel menor que R$ 2.000,00
selection = (dados['Quartos'] >= 4) & (dados['Valor'] < 2000)
n4 = dados[selection].shape[0]
n4

In [ ]:
print(f"Número de Imóveis Classificados com Tipo 'Apartamento': {n1}")
print(f"Número de Imóveis classificados com Tipos 'Casa', 'Casa de Condomínio' ou 'Casa de Vila': {n2}")
print(f"Número de Imóveis com Área entre 60 e 100 metros quadrados, incluindo os limites: {n3}")
print(f"Número de Imóveis que tenham pelo ou menos 4 quartos e aluguel menor que R$ 2.000,00: {n4}")

### Formas de Seleção

In [ ]:
'l1 l2 l3'.split()

In [ ]:
data = [(1, 2, 3, 4), 
        (5, 6, 7, 8), 
        (9, 10, 11, 12), 
        (13, 14, 15, 16)]
df = pd.DataFrame(data, 'l1 l2 l3 l4'.split(), 'c1 c2 c3 c4'.split())
df

In [ ]:
# A diferença entre Série...
type(df['c1'])

In [ ]:
# ... e DataFrame.
type(df[['c3', 'c1']])

In [ ]:
# Usando o ':' para delimitar a seleção
# Mostrar todas as linhas depois da primeira e antes da última
df[1:3]

In [ ]:
# A seleção de Colunas também é possível
# Inclusive, junto com a seleção de Linhas
df[1:3][['c1', 'c3']]

In [ ]:
# O 'loc' permite que selecionemos linhas e colunas por nome
df.loc[['l3', 'l2']]

In [ ]:
# Podemos ainda selecionar um valor específico com o 'loc'
df.loc['l1', 'c2']

In [ ]:
# Podemos selecionar um valor específico com o 'iloc'
df.iloc[0, 1]

In [ ]:
# Podemos selecionar uma matriz de dados com 'loc'
df.loc[['l3', 'l1'], ['c4', 'c1']]

In [ ]:
# O 'iloc' faz a mesma coisa, só que com índices
df.iloc[[2,0], [3,0]]

### Tratamento de Dados Faltantes

In [ ]:
dados = pd.read_csv('data/aluguel_residencial.csv', sep=';')
dados.head(10)

In [ ]:
# Podemos identificar os dados nulos
dados.isnull()

In [ ]:
# Podemos identificar os dados não nulos
dados.notnull()

In [ ]:
# Podemos identificar os dados nulos por coluna pela diferença entre os dados nulos e os dados não nulos
dados.info()

In [ ]:
dados[dados['Valor'].isnull()]

In [ ]:
A = dados.shape[0]
dados.dropna(subset = ['Valor'], inplace = True)
B = dados.shape[0]
A - B

In [ ]:
dados[dados['Valor'].isnull()]

In [ ]:
dados[dados['Condominio'].isnull()].shape[0]

In [ ]:
selection = (dados['Tipo'] == 'Apartamento') & (dados['Condominio'].isnull())

In [ ]:
A = dados.shape[0]
dados = dados[~selection]
B = dados.shape[0]
A - B

In [ ]:
dados[dados['Condominio'].isnull()].shape[0]

In [ ]:
dados = dados.fillna({'Condominio': 0, 'IPTU': 0})
dados[dados['Condominio'].isnull()].shape[0]

In [ ]:
dados[dados['IPTU'].isnull()].shape[0]

In [ ]:
dados.info()

In [ ]:
dados.to_csv('data/aluguel_residencial.csv', sep=';', index = False)

### Métodos de Interpolação

In [ ]:
data = [0.5, None, None, 0.52, 0.54, None, None, 0.59, 0.6, None, 0.7]
s = pd.Series(data)
s

In [ ]:
s.fillna(0)

In [ ]:
s.fillna(method = 'ffill')

In [ ]:
s.fillna(method = 'bfill')

In [ ]:
s.fillna(s.mean())

In [ ]:
s.fillna(method = 'ffill', limit = 1)

In [ ]:
s.fillna(method = 'bfill', limit = 1)

### Criando Novas Variáveis

In [ ]:
dados = pd.read_csv('data/aluguel_residencial.csv', sep=';')
dados.head(10)

In [ ]:
dados['Valor Bruto'] = dados['Valor'] + dados['Condominio'] + dados['IPTU']
dados.head(10)

In [ ]:
dados['Valor m2'] = (dados['Valor Bruto'] / dados['Area']).round(2)
dados.head(10)

In [ ]:
dados['Valor Bruto m2'] = (dados['Valor Bruto'] / dados['Area']).round(2)
dados.head(10)

In [ ]:
casa = ['Casa', 'Casa de Condomínio', 'Casa de Vila']
dados['Tipo Agregado'] = dados['Tipo'].apply(lambda x: x if x in casa else 'Apartamento')
dados

### Excluindo Variáveis

In [ ]:
dados_aux = pd.DataFrame(dados[['Tipo Agregado', 'Valor m2', 'Valor Bruto', 'Valor Bruto m2']])
dados_aux.head(10)

In [ ]:
del dados_aux['Valor Bruto']
dados_aux.head(10)

In [ ]:
dados_aux.pop('Valor Bruto m2')
dados_aux

In [ ]:
dados.drop(['Valor Bruto m2', 'Valor Bruto'], axis = 1, inplace = True)
dados

In [592]:
dados.to_csv('data/aluguel_residencial.csv', sep=';', index = False)